
<%- include('../layouts/adminHeader.ejs')  %>

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                <div class="d-flex justify-content-between align-items-center px-3">
                  <h6 class="text-white text-capitalize mb-0">PRODUCTS</h6>
                  <a href="/admin/add-product" class="btn btn-dark btn-sm">Add Product</a>
                </div>
              </div>
            </div>
            
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">No</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Image</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Gender</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Stock</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                     
                    <% if(products.length >0){ %>
                        <% for(let i=0;i<products.length;i++){ %>
                          
                          <tr>
                            <td scope="row"><%= i+1 %></td>
                            <td scope="row"><%= products[i].name %></td>
                            <td scope="row"><%= products[i].price %></td>
                            <td scope="row"><img width="50" height="50" src="/productimages/<%= products[i].image[0] %>"></td>
                            <td scope="row"><%= products[i].gender %></td>
                            <td scope="row"><%= products[i].category.name %></td>
                            <td scope="row"><%= products[i].stock %></td>

                            <td>
                              <% if(products[i].is_flaged==1){ %>
                                <button type="button" class="btn btn-primary"><a class=" text-light text-decoration-none" href="/admin/unflag-product?id=<%= products[i]._id%>">unflag</a></button>
                                <% }else{ %>
                                <button type="button" class="btn btn-danger"><a class=" text-light text-decoration-none" href="/admin/flag-product?id=<%= products[i]._id%>">flag</a></button>
                                <% } %>
                                <button type="button" class="btn btn-primary"><a class=" text-light text-decoration-none" href="/admin/edit-product?id=<%= products[i]._id%>">edit</a></button>

                                <button type="button" class="btn btn-danger" ><a class=" text-light text-decoration-none" data-bs-toggle="modal" data-bs-target="#deleteModal<%= products[i]._id %>">delete</a></button>
                           </td>
                          <tr>

                        <div class="modal fade" id="deleteModal<%= products[i]._id %>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to delete <%= products[i].name %> ?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a href="/admin/delete-product?id=<%= products[i]._id%>" class="btn btn-danger">
                                  Delete
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>

                        <%}}%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include('../layouts/adminFooter.ejs')  %>

  <script>

document.getElementById('product').classList='nav-link text-white active'

</script>
