<%- include('../layouts/UserHeader.ejs',{session,cartData,userData}) %>


	<!-- Slider -->
	<section class="section-slide">
		<div class="">
			<div class="slick1">

				<div class="item-slick1" style="background-image: url('/productimages/<%= bannerOne[0].image[0] %>');">
					<div class="container h-full">
						<div class="flex-col-l-m align-items-center h-full p-t-100 p-b-30 respon5">

							<div  data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									<%= bannerOne[0].title %>
								</h2>
							</div>

							<div  data-appear="fadeInDown" data-delay="0" class="row d-flex justify-content-center">
								<span class="ltext-101 cl2 respon2 col-12 col-md-8">
									<%= bannerOne[0].description %>
								</span>*-
								+
							</div>
								
								
							<div  data-appear="zoomIn" data-delay="1600">
								<a href="" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

	

				<div class="item-slick1" style="background-image: url('/productimages/<%= bannerTwo[0].image[0] %>');">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div  data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									<%= bannerTwo[0].description %>
								</span>
							</div>
								
							<div  data-appear="rotateInUpRight" data-delay="800">
								<h4 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									<%= bannerTwo[0].title %>
								</h4>
							</div>
								
							<div data-appear="rotateIn" data-delay="1600">
								<a href="" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="images/banner-01.jpg" alt="IMG-BANNER">

						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Women
								</span>

								<span class="block1-info stext-102 trans-04">
									Spring 2018
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="images/banner-02.jpg" alt="IMG-BANNER">

						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Men
								</span>

								<span class="block1-info stext-102 trans-04">
									Spring 2018
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="images/banner-03.jpg" alt="IMG-BANNER">

						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Accessories
								</span>

								<span class="block1-info stext-102 trans-04">
									New Trend
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Product Overview
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
						Women
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
						Men
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">
						Bag
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".shoes">
						Shoes
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".watches">
						Watches
					</button>
				</div>

				<div class="flex-w flex-c-m m-tb-10">
				
					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>
				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
					</div>	
				</div>

				

			<!-- Poduct Listing -->
			<div class="row ">
				<% 
                    if(product.length >0){
                        for(let i=0;i<product.length;i++){
                          %>
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src="/productimages/<%= product[i].image[0] %>" alt="IMG-PRODUCT">

						
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="/product-view?id=<%= product[i]._id %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								<%= product[i].name %>
								</a>

								<span class="stext-105 cl3">
									₹<%= product[i].price %>
								</span>
							</div>
							
							<div class="block2-txt-child2 flex-r p-t-3">
                                
							
							  	<div id="<%= product[i]._id %>icon2" style="display: none;" onclick="removewishlist('<%= product[i]._id %>')" class="pos-relative">
								<img class="icon-heart2 trans-04 " src="images/icons/icon-heart-02.png" alt="ICON" style="cursor: pointer;">
								</div>
							 

								<div id="<%= product[i]._id %>icon1" onclick="addtowishlist('<%= product[i]._id %>')" class="pos-relative">
								<img class="icon-heart1 trans-04" src="images/icons/icon-heart-01.png" alt="ICON" style="cursor: pointer;">
								</div>

								
							</div>
				
						</div>
					</div>
				</div>	
				<%}} %>
			</div>

			<div class="flex-c-m flex-w w-full p-t-45">
				<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Load More
				</a>
			</div>
		</div>
	</section>
	
	<% if(message !=null ) {%>
              <script>
                swal({ 
                  title: "Alert",  
                  text: "<%=message%>",  
                  icon: "warning",  
                  button: "oh yes!",
                    
                });  
              </script>
     
           <%  }%>



	<%- include('../layouts/UserFooter.ejs') %>
